<div class="property-amenities" data-aos="fade-up" data-aos-delay="400">
              <h3>Amenities &amp; Features</h3>
              <div class="row">
                <div class="col-md-6">
                  <h4>Interior Features</h4>
                  <ul class="features-list">
                    <li><i class="bi bi-check-circle"></i>Has Fan</li>
                    <li><i class="bi bi-check-circle"></i>Has Air Conditioner</li>
                    <li><i class="bi bi-check-circle"></i>Has Private Bathroom</li>
                    <li><i class="bi bi-check-circle"></i>Has Balcony</li>
                    <li><i class="bi bi-check-circle"></i>hasKitchen</li>
                    <li><i class="bi bi-check-circle"></i>hasFridge</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <h4>Exterior Features</h4>
                  <ul class="features-list">
                    <li><i class="bi bi-check-circle"></i>hasWashingMachine</li>
                    <li><i class="bi bi-check-circle"></i>hasTV</li>
                    <li><i class="bi bi-check-circle"></i>hasWiFi</li>
                    <li><i class="bi bi-check-circle"></i>hasElevator</li>
                    <li><i class="bi bi-check-circle"></i>isPetFriendly</li>
                    <li><i class="bi bi-check-circle"></i>isSmokingAllowed</li>
                  </ul>
                </div>
              </div>
            </div>