<section id="property-details" class="property-details section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    @if (loading()) {
      <div class="py-5 text-center">
        <div class="spinner-border" role="status"></div>
        <div class="mt-2">Loading room…</div>
      </div>
    } @else if (error()) {
      <div class="alert alert-danger">
        {{ error() }}
      </div>
    } @else if (room()) {
      <div class="row gy-4">
        <div class="col-lg-8">

          <app-property-gallery [room]="room()!"></app-property-gallery>

          <app-property-description [room]="room()!"></app-property-description>

          <app-property-amenities [room]="room()!"></app-property-amenities>

          <app-property-map [room]="room()!"></app-property-map>

        </div>

        <div class="col-lg-4">
          <app-property-overview [room]="room()!"></app-property-overview>
        </div>
      </div>
    }
  </div>
</section>
