<section id="properties" class="properties section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row">
       <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">
        <app-property-filter-bar 
        [filter]="filter()"
        (filterChange)="onFilterPatch($event)">

        </app-property-filter-bar>

        <app-property-active-filter-bar
            [filter]="filter()"
          (remove)="onFilterPatch($event)"
          (clearAll)="onClearAll()">

        </app-property-active-filter-bar>

        <app-properties-sidebar (filterChange)="onFilterPatch($event)"></app-properties-sidebar>

        </div>        

        <div class="col-lg-12">

        <app-properties-header [viewMode]="viewMode()"
            [sort]="sort()"
            [total]="total()"
            (viewModeChange)="onViewModeChange($event)"
            (sortChange)="onSortChange($event)">

        </app-properties-header>

        @if (viewMode() === 'grid') {
          <app-properties-grid
            [filter]="filter()"
            (pageInfo)="onPageInfo($event)"
            >
          </app-properties-grid>
        } @else {
          <app-properties-list
            [filter]="filter()"
            (pageInfo)="onPageInfo($event)">
          </app-properties-list>
        }



       <!-- <app-properties-grid [filter] = "filter()"></app-properties-grid>

        <app-properties-list></app-properties-list> -->

        <app-pagination
        [page]="filter().page!!"
          [totalPages]="totalPages()"
          (pageChange)="onFilterPatch({ page: $event })"
        >
        
      </app-pagination>

        </div>

 

    </div>

    </div>

</section>